/venv
__pycache__/
*.py[cod]
*.so

/data/ml-1m/train
/data/ml-1m/*.dat
/data/otto/test
/data/otto/train
/data/otto/jsonl_processed
/data/otto/train.jsonl
/data/otto/test.jsonl
/data/data.zip
/data/*/*.json
/data/*/*.jsonl

/temp.py
/output
/results
/DontReadMe.md

